.score-stats {
    background: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 20px;
    gap: 12px;
}

.score-stats__score {
    color: #80CBC4 !important;
}

.score-stat-pill {
    background: rgba(255, 255, 255, .05);
    border-radius: 10px;
    gap: 2px;
}