.board {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.board-line {
    background: #49454F;
}

.board-line.horizontal {
    height: 4px;
}

.board-line.vertical {
    width: 4px;
}

.board-line.h1 {
    top: 100px;
}
.board-line.h2 {
    top: 200px;
}
.board-line.v1 {
    left: 100px;
}
.board-line.v2 {
    left: 200px;
}