* {
    user-select: none;
}
body, html {
    background: #141218;
}

.flex {
    display: flex;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.flex-gap {
    gap: 1rem;
}
.flex-gap-1 {
    gap: 0.25rem;
}
.flex-gap-2 {
    gap: 0.5rem;
}
.flex-gap-3 {
    gap: 1rem;
}
.flex-gap-4 {
    gap: 1.5rem;
}
.flex-gap-5 {
    gap: 3rem;
}