@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}
body, html {
    background: #141218;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
input {
    color: #E6E0E9;
    caret-color: #E6E0E9;
}
.input::placeholder {
    color: rgba(230, 224, 233, 0.3);
}

.card-theme {
    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 20px;
}
.card-theme-item {
    gap: 14px;
    padding: 18px 20px;
}