.room-screen-item {
    transition: background .15s ease;
}

.room-screen-item--clickable:hover {
    background: rgba(255, 255, 255, .05);
}

.room-screen-item--clickable:active {
    background: rgba(255, 255, 255, .08);
}