.normal-text {
    letter-spacing: 0.2px;
    color: #E6E0E9;
    text-overflow: ellipsis;
}

.normal-text--muted {
    color: rgba(230, 224, 233, 0.4);
}

.normal-text--danger {
    color: #E05C5C;
}